:root {
    --primary-color: red;
    --secondary-color: #eab286;

    --font-family: 'Impact';
    --font-size: 20px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: var(--font-family);
    font-size: var(--font-size);

}

nav {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}

nav h1 {
    color: var(--secondary-color);
    padding-block: .5em;
    padding-inline: .5em;
    font-weight: bold;
}

nav ul {
    color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1em;
    padding-inline: 1em;
    margin-block-end: .5em;
    list-style: none;
}

header {
    background-image: url("https://loremflickr.com/cache/resized/65535_52180198759_1d16eb229e_h_1200_300_nofilter.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 15rem;
    margin-block-end: 4rem;
}

header h1 {
    color: var(--secondary-color);
    text-shadow: 1px 1px 1px white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
}

main {
    margin-inline: 2rem;
    line-height: 1.5;
    max-width: 65ch;
}